page-home {
    .fondo {
        background-color: #F2F4F5;
    }
    .texto {
        font-size: 12px!important;
        color: black!important;
    }
    .top-5 {
        margin-top: -3%
    }
    .texto-peque {
        font-size: 10px!important;
    }
}