// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fondo{
     background: rgb(255,255,255); 
 }

.fondo2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHinZjE1vLzPkF1I-42iE23bH_vJtCr_fFyihjNW90cw4SRQI4mA);
 }

.texto{
    color: white!important;
    font-weight: bold!important;
}
